@model PA.Core.Infrastructure.ResultObjects.DataResult<List<PA.Core.DataModel.Entities.Product>>
@using PA.Web.Helpers

<h2>Products</h2>

<div class="row">
    <div class="col-xs-12">
        <div class="well">
            <a class="btn btn-primary" href="@Url.Action("Create")">Create New Product</a>
        </div>
    </div>
</div>

<div class="row">

    @if (Model.IsSuccess)
    {
        foreach (var product in Model.Data)
        {
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 product-wrapper">

                <div class="product">
                    <div class="name">@product.Name</div>
                    <div class="category">@product.Category</div>
                    <div class="description">@product.Description</div>
                    <div class="price">$@product.Price </div>

                    <div class="quantity">Stock: <span class="unit @Html.StockColor(product.Quantity)">@product.Quantity</span> </div>

                    <div class="actions">
                        <button class="btn btn-sm btn-primary">Buy!</button>
                        <button class="btn btn-sm btn-success">Details</button>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <h2>There is no data to show!</h2>
    }
</div>
